<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Warn">

    <Properties>
        <Property name="logLocation">logs</Property>
    </Properties>

    <Appenders>

        <RollingFile name="SystemFileAppender" fileName="${logLocation}/payment.log"
                     filePattern="${logLocation}/$${date:yyMM}/%d{dd}/payment-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%p] [%t] %msg (%M@%F\:%L)%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="8"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} [%p] [%t] %msg (%M@%C\:%L)%n</pattern>
            </PatternLayout>
        </Console>

    </Appenders>

    <Loggers>

        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="SystemFileAppender"/>
        </Logger>

        <Logger name="com.mysql" level="INFO" additivity="false">
            <AppenderRef ref="SystemFileAppender"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="SystemFileAppender"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="SystemFileAppender"/>
            <AppenderRef ref="Console"  />
        </Root>

    </Loggers>

</Configuration>